// loading wheel

.loading {
  display: flex;
  width: 100%;
  justify-content: center;


img {
  padding: 100px;
  width: 200px;
  height: 200px;
  }
}

//main article area

.article {
  display: flex;
  height: 500px;
  width: 100%;
  font-family: "Open Sans";

    .article img {
      height: 420px;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position-x: 50%;
      background-position-y: 50%;
    }

    @include tablet{
      background-size: cover;
      display: flex;
      height: 500px;
      width: 50%;
      flex-flow: wrap;
    }

    @include desktop{
      background-size: cover;
      display: flex;
      height: 500px;
      width: 25%;
      flex-flow: wrap;
    }

// article text

.caption {
  align-self: flex-end;
  color: white;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  }
}

// article display area

.gallery {
  display: flex;
  width: 100%;
  font-size: 1rem;
  font-family: "Open Sans";
  line-height: 1.5rem;
  position: relative;
  padding-top: 2rem;
  background:black;
  flex-direction: column;

    @include tablet {
      display: flex;;
      background-size: cover;
      flex-flow: wrap;
      width: 100%;
    }

    @include desktop {
      background-size: cover;
      display: flex;
      width: 100%;
      flex-flow: wrap;
    }

    a {
      color: white;
      text-decoration: none;
    }
}

// logo and drop down menu

.main-header {
  height: 60vw;
  align-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  

  @include tablet {
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
  }

    @include desktop {
      display: flex;
      justify-content: flex-start;
      margin: 0 0;
    }
}

li {
  list-style-type: none;
}

.main-text {
  display: block;
  text-align: center;
  align-content: center;
  justify-content: center;
  padding-top: 20px;

    @include tablet {
      justify-content: flex-start;
      text-align: left;      
    }
    @include desktop {
      max-width: 50%;
    }
}

.logo {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;

  @include tablet {
    flex: 0 1 20%;	
    	
		img {
			width: 90%;
			height: auto;
      }
		}

	@include desktop {
    width: 100%;
		flex: 0 1 30%;
		align-self: center;
    }
  }

body {
  background-color: black;
  font-family: "Open Sans", 'Arial', sans-serif;
  font-size: 16px;
  color: #c2c2c2;
  img {
    padding-top: 1rem;
  }

    @include tablet {
      display: inline;
      align-items: center;
      align-content: center;
      position: relative;
    }
}

.drop-down {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 10px;
  font-size: 10px;
  width: 100%;

  @include tablet {
		align-self: center;
		flex: 0 1 auto;
		}
	@include desktop {
		align-self: center;
    align-items: flex-start;
  }

.story-background{
  height: 400px;
  width: 100%;
  background-size: cover;        
  background-position: 50%;                      
  }

}