.main-header { 
  
  transition: 
  height 1.5s ease-in-out 1s,
  min-height 1.5s ease-in-out 1s,
  max-height 1.5s ease-in-out 1s,
  margin 1s ease-in-out 0.5s;
}

img {
  max-height: 80%;
  @include screenSize($tablet) {
      height: auto;
  }
}
